body {
    background: #f8f8f8;
    color: #0b1f66;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
}

* {
    margin: 0;
    border: 0;
}

.title-header{
    background-color:#eae8e8;
    color: #000000;
    height: 80px;
    padding: 0 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.title-header-content{
    height: 100%;
    margin: 0 auto;
    font-family: 'Titillium Web'
}

.title-header-content h1{
    color: #000000;
}

.title-header-content span{
    padding: 0 6px;
    color: #0b1f66;
}

.contents{
    background-color: #0b1f66;
    height: 100%;
}

.login-signup-menu{
    position: absolute;
    top: 0;
    right: 5px;
}

.login-btn{
    background-color: #87CEEB ;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #000000;
    padding: 7px;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;    
    font-weight: bold;

}

.singup-btn{
    background-color: transparent;
    color: #000000;
    padding: 7px;
    color: #000000;
    font-size: 14px;    
}

.singup-btn:hover{
    text-decoration: underline;
}

.nonmember{
    font-size: 14px;
    color: #000000;
}

h1{
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-top: 22px;
    
}

.modal-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.modal-input{
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; 
}
.modal-container {
    background: #fff; 
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    max-width: 650px;
    height: 600px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.modal-content {
    text-align: center;
    margin: 20px 5px;
    margin-top: 30px;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.modal-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #87CEEB;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 30px;
}

.menu-section{
    /* background-color: cornflowerblue; */
    height: 50px;
}

.description{
    /* background-color: aquamarine; */
    padding: 140px 150px;
}

.sub_description{
    height: 600px;
}

#p1{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

#p2{
    font-size: 24px;
    color: #ffffff;
    font-weight: bold;
}

#p3{
    color: rgb(164, 171, 178);
    font-size: 16px;
    margin-top: 30px;

}

#p4{
    color: rgb(164, 171, 178);
    font-size: 16px;
}

.menu-section{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 70px;
    top: 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li{
    margin: 0 30px;
}

nav a{
    text-decoration: none;
    color: inherit;
    font-size: 17px;
}

nav {
    padding-top: 10px; 
}





