.contents{
    width: 840px;
    margin: 0 auto;
}

.sub-title{
    padding: 50px;
}

.tripBox{
    border-top: 1px solid #000000;
    /* background-color: aqua; */
}
.add-location-box {
    display: flex;
    background-color: #ffffff; 
    border: 1px solid #000000; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 1px 1px 3px #000000; 
    width: 200px; 
    height: 100px;
    margin: 0 auto; 
    margin-left: 10px;
    margin-top: 30px;
    font-size: 16px;
    justify-content: space-between;

}

.add-location-box p{
    display: flex;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}

.plus-icon {
    display: flex;
    height: 100%;
    cursor: pointer;
}






